[Unit]
Description=Bybit Quant Bot - Scanner
After=network.target

[Service]
Type=simple
User=evonic
WorkingDirectory=/home/evonic/futurabot
ExecStart=/home/evonic/futurabot/venv/bin/python main.py
Restart=always
RestartSec=5
Environment="BOT_ENV=production"

[Install]
WantedBy=multi-user.target